apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: gitea-registry-sync
  namespace: codewire-prod
spec:
  hostAPI: https://infisical.noel.sh/api
  resyncInterval: 3600
  authentication:
    universalAuth:
      secretsScope:
        projectSlug: codespace
        envSlug: prod
        secretsPath: /ci
      credentialsRef:
        secretName: infisical-universal-auth
        secretNamespace: codewire-prod
  managedSecretReference:
    secretName: gitea-registry
    secretNamespace: codewire-prod
    secretType: kubernetes.io/dockerconfigjson
    creationPolicy: Owner
    template:
      includeAllSecrets: false
      data:
        .dockerconfigjson: '{"auths":{"git.noel.sh":{"username":"ci","password":"{{ .GITEA_REGISTRY_TOKEN.Value }}","auth":"{{ printf "ci:%s" .GITEA_REGISTRY_TOKEN.Value | b64enc }}"}}}'
