apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: codewire-operator
rules:
  # CodewireRelay resources
  - apiGroups:
      - codewire.io
    resources:
      - codewirerelays
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - codewire.io
    resources:
      - codewirerelays/status
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - codewire.io
    resources:
      - codewirerelays/finalizers
    verbs:
      - update
  # Deployments
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  # Services
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  # PersistentVolumeClaims
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  # Secrets
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  # Ingresses
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  # Leader election
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  # Events
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
