apiVersion: v1
kind: Service
metadata:
  name: {{ include "codewire-relay.fullname" . }}-http
  labels:
    {{- include "codewire-relay.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "codewire-relay.selectorLabels" . | nindent 4 }}
